.list-container {
  color: Black;
  padding: 15px;

  .image-item {
    height: 200px;
    width: 300px;
    object-fit: cover;
  }

  .content-item {
    color: Black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    height: 200px;
    width: 100%;
    background-color: white;
    font-size: 14px;
    .content-detail {
      color: Black;
      display: flex;
      justify-content: flex-start;
      .title {
        // display: flex;
        // justify-content: flex-start;
        font-size: 14px ;
        color: Black;
        font-weight: bold;
        margin-right: 10px;
      }
      .value {
        color: Black;
        font-size: 14px;
        font-weight: 600px;
      }
    }
  }
  .btn-remove-courses {
    margin-top: 10px;
  }
}
