.course-detail-container{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    text-align: left;

    .img-item{
        width: 100%;
    }

    .combo-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ant-comment-avatar img{
        width: 50px !important;
        height: 50px !important;
    }

    .ant-avatar{
        width: 50px !important;
        height: 50px !important;
    }

    .student-number {
        margin-left: 50px !important;
    }

    .lecture-item {
        background-color: white;
    }

    .section {
        font-weight: bold;
        font-size: 24px;
    }

    .course-content {
        border: 1px solid;
        box-shadow: 5px 5px #888888;
        background-color: white;
        padding: 20px;
    }
}