.header-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-item{
        font-size: large;
        color: white;
    }

    .tool{
        display: flex;
        flex-direction: row;
        align-items: center;

        .search-box{
            margin-right: 15px;
        }
        .button{
            margin-right: 10px;
        }
    }
    .right-header-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 20px;
        padding: 5px;
        height: 100%;
    
        .profile-container{
          display: flex;
          align-items: center;
          height: 40px;
          background-color: #00152a;
      
          .avatar{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            font-weight: bold;
            height: 40px;
            width: 40px;
            margin-right: 10px;
            border-radius: 50%;
          }
          .name{
            font-weight: bold;
            margin-right: 15px;
            width: 100px;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
    }
}   